@use "base" as v;

.features {
  margin: 15rem 0;

  @supports (display: grid) {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 6rem;
    align-items: start;
  }

  // reusable in the future
  .feature {
    float: left;
    width: 33.33%;
    margin-bottom: 6rem;

    @supports (display: grid) {
      width: auto;
      margin-bottom: 0;
      display: grid;
      grid-template-columns: min-content 1fr;
      gap: 1.5rem 2.5rem;
    }

    &__icon {
      fill: v.$color-primary;
      width: 4.5rem;
      height: 4.5rem;
      grid-row: 1 / span 2;
      transform: translateY(-1rem);
    }

    &__text {
      font-size: 1.7rem;
    }
  }
}
