@use "base" as v;

.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;

  .home {
    background-color: v.$color-grey-light-1;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    &__img {
      width: 100%;
      grid-row: 1;
      grid-column: 1 / -1;
      z-index: 1;
    }
    &__like {
      grid-row: 1;
      grid-column: 2;
      fill: v.$color-primary;
      height: 2.5rem;
      width: 2.5rem;
      z-index: 2;
      justify-self: end;
      margin: 1rem;
    }
    &__name {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      z-index: 2;
      justify-self: center;
      align-self: end;

      width: 80%;
      font-family: v.$font-display;
      font-size: 1.6rem;
      text-align: center;
      padding: 1.25rem;
      background-color: v.$color-secondary;
      color: #fff;
      font-weight: 400;
      transform: translateY(50%);
    }

    &__location,
    &__rooms {
      margin-top: 2.5rem;
    }

    &__location,
    &__rooms,
    &__area,
    &__price {
      font-size: 1.5rem;

      display: flex;
      gap: 1rem;
      align-items: center;
      margin-left: 2rem;

      svg {
        fill: v.$color-primary;
        height: 2rem;
        width: 2rem;
      }
    }

    &__btn {
      grid-column: 1 / -1;
    }
  }
}
