@use "base" as v;

.realtors {
  background-color: v.$color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;

  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  gap: 2rem;

  @media only screen and (max-width: v.$bp-medium) {
    grid-column: full-start / full-end;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    gap: 5vh 2rem;
    align-items: center;

    @media only screen and (max-width: v.$bp-medium) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @media only screen and (max-width: v.$bp-small) {
      grid-template-columns: min-content max-content;
    }
  }

  &__img {
    width: 7rem;
    border-radius: 50%;
    display: block;
  }

  &__sold {
    text-transform: uppercase;
    color: v.$color-grey-light-2;
    margin-top: -3px;
  }
}
